/* sec img */
.card-img1{
    filter: blur(3px);
}

/* Navbar */
.btn1{
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 50px;
}
.btn1:hover{
    background-color: rgb(255, 187, 0);
}
.navv{
    margin-left: 90px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.navbar-nav{
    margin-left: 170px;
   
}
.nav-link{
    color: white;
    font-size: 18px;
    margin: 7px;
}
.nav-link:hover{
    color:rgb(255, 187, 0);
}
/* Middle-one */
.middle{
    text-align: center;
    margin-top: 160px;
 

}
.size{
    font-weight: 700;
    font-size: 60px;
}
.block{
    width: 180px;
    height: 180px;
   margin: 18px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid rgb(243, 240, 234);
}
.block:hover{
    border: 2px solid rgb(255, 187, 0);
    color:  rgb(255, 187, 0);
    font-size: 20px;
}
.icon{

font-size: 40px;
}
/* About-sec */
.card-img2{
    width: 100%;
    height: 600px;
   
}
.pic-div1{
    width: 670px;
    height: 560px;
    margin: 30px;
    padding: 20px;
}
.pic-div{
    margin-left: 50px;
    width: 640px;
    height: 500px;
    background-color: blue;
}
.pic{
width: 100%;
height: 100%;
}
/* 1st slide with swiper icon */
.swiper {
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
  
    object-fit: cover;
  }
 .box{
    opacity: 0.2;
 }
 .box:hover{
    opacity: 1;
 }
 /* 3rd section */
 .card-img3{
    width: 100%;
    height: 660px;
    filter: blur(4px);
 }
 .iconn{
    font-size: 40px;
    color:white
 }
 .iconn:hover{
    color:rgb(255, 187, 0)
 }
 /* Services Section  */