/* sec img */
.card-img1{
    filter: blur(5px);
}

/* Navbar */
.btn1{
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 50px;
}
.btn1:hover{
    background-color: rgb(255, 187, 0);
}
.navv{
    margin-left: 90px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.navbar-nav{
    margin-left: 170px;
   
}
.nav-link{
    color: white;
    font-size: 18px;
    margin: 7px;
}
.nav-link:hover{
    color:rgb(255, 187, 0);
}
/* Middle-one */
.middle1{
    text-align: center;
    margin-top: 160px;
 

}
.size{
    font-weight: 700;
    font-size: 60px;
}
.block{
    width: 180px;
    height: 180px;
   margin: 18px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid rgb(243, 240, 234);
}
.block:hover{
    border: 2px solid rgb(255, 187, 0);
    color:  rgb(255, 187, 0);
    font-size: 20px;
}
.icon1{

font-size: 40px;
}
/* About-sec */
.card-img2{
    width: 100%;
    height: 600px;
   
}
.pic-div1{
    width: 670px;
    height: 560px;
    margin: 30px;
    padding: 20px;
}
.pic-div{
    margin-left: 50px;
    width: 640px;
    height: 500px;
    
}
.pic{
width: 100%;
height: 100%;
}
/* 1st slide with swiper icon */
.swiper {
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
  
    object-fit: cover;
  }
 .box{
    opacity: 0.2;
 }
 .box:hover{
    opacity: 1;
 }
 /* 3rd section */
 .card-img3{
    width: 100%;
    height: 660px;
    filter: blur(4px);
 }
 .iconn{
    font-size: 40px;
    color:white
 }
 .iconn:hover{
    color:rgb(255, 187, 0)
 }
 /* Services Section  */
 .boxes{
    width: 410px;
    height: 350px;
    padding: 10px;
    text-align:center ;
    margin: 17px;
    border: 1px solid rgb(227, 221, 221);
 }
 .ico1{
    margin-left: 160px;
    text-align: center;
    width: 70px;
    height: 70px;
    font-size: 30px;
    padding-top: 8px;
    background-color: rgb(255, 187, 0);
    margin-top: 70px;
    border-radius: 4px;
    margin-bottom: 10px;
 }
 .boxes:hover{
    background-color: rgb(241, 189, 45);
    
    border-radius: 20px;
    border:0cm;
 }
 
 /* Call to Action sec */
 .call-sec{
    background-image: url(img/cta-bg.jpg);
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    text-align: center;
 }
 .cl-div{
    padding: 80px;
 }
 .btn2{
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 4px;
  
}
.btn2:hover{
    background-color:rgb(241, 189, 45);
    color:black;
}
/* Portfolio Section */
.marginn{
    margin: 17px;
    width: 400px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align:center;
  }
  .content:hover .marginn{
    opacity: 0.5;

  }
  
  .content:hover .middle2 {
    opacity: 1;
    display: block;
    
  }
  /* hover */
  .hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }
  /* second About Section */
  .boxx{
   
    margin-left: 110px;
    width: 650px;
    height: 540px;
    
  }
  .boxex{
    margin-left: 40px;
    width: 650px;
    height: 540px;
  
  }
  .picc{
    width: 100%;
    height: 100%;
  }
  .front{
    font-size: 40px;
    color: rgb(255, 187, 0);
  }
  /* Testimonials sec */
  .testi-sec{
    height: 500px;
    
 margin-top: 80px;
  }
  .card-img4{
    width: 100%;
    height: 500px;
    filter: blur(2px);
  }
  .aboutus{
    width: 1200px;
    height: 400px;
 margin-top: 50px;
    margin-left: 160px;
}
.comma{
    width: 30px;
    height: 30px;
}
.testi{
    margin-left: 150px;
}
.card{
    background-color: #000000;
}
/* Team Section */
.team{
  width: 400px;
  height: 500px;
border-radius: 10px;
}
.team-img{
  width: 100%;
  height: 75%;
  border-radius: 10px;
}
/* location sec */
iframe{
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.location{
  margin-left: 110px;
}
/* contact sec form */
.location-sec {
background-color:white;
}
.input1{
  width: 390px;
  background-color:white;
  color: gray;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  
 
}
.icon{
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
 
}
.message1{
  width:800px;
  height: 150px;
  margin-left: 120px;
  background-color:white;
  color: gray;

  font-size: 20px;
  padding: 20px;
}
.book-btn1{
  margin-left: 480px;
  width: 160px;
  margin-top: 40px;
  height: 50px;
  font-size: 16px;
  color:white;
  padding: 10px;
  margin-bottom: 30px;
  }
  .input2{
      width: 800px;
      background-color:white;
      color: gray;
      height: 50px;
      font-size: 20px;
      padding: 20px;
      margin-left: 120px;
      
  }
  /* last-one-section */
  .ico{
      width: 25px;
      height: 25px;
      color: white;
      background-color: rgb(34, 33, 33);
      padding: 5px;
      border-radius: 4px;
      margin: 3px;
  }

  .btn-input2{
      width: 290px;
      height: 50px;
      margin-right: 100px;
      font-size: 20px;
      background-color: white;
      border-radius: 3px;
  }
  .last-btn{
      width: 150px;
      height: 52px;
      color: white;
    border-radius: 3px;
      margin-left: -120px;
      margin-top: 15px;
      font-size: 20px;
   }
   /* footer */
.footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}



